<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Experimentking</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
            Sample
          </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <form id="demo">
            <!-- text -->
            <p>
                <input type="text" v-model="msg"> {{msg}}
            </p>
            <!-- checkbox -->
            <p>
                <input type="checkbox" v-model="checked"> {{checked ? "yes" : "no"}}
            </p>
            <!-- radio buttons -->
            <p>
                <input type="radio" name="picked" value="one" v-model="picked">
                <input type="radio" name="picked" value="two" v-model="picked"> {{picked}}
            </p>
            <!-- select -->
            <p>
                <select v-model="selected">
                <option>one</option>
                <option>two</option>
              </select> {{selected}}
                        </p>
                        <!-- multiple select -->
              <hr />
                        <p>
                            <select v-model="multiSelect" multiple>
                <option>one</option>
                <option>two</option>
                <option>three</option>
              </select> {{multiSelect}}
                        </p>
            <p>Enter Age</p>
            <input v-model="age" type="number">
            <p>Your age is {{ age }}</p>
            <hr />
            <p><span>Multiline message is:</span>
            <p style="white-space: pre">{{ message }}</p>
            <textarea v-model="message" placeholder="add multiple lines"></textarea></p>
            <hr />
            <p>
              <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
              </p>
            <span>Checked names: {{ checkedNames }}</span>
            <p><pre>data: {{$data}}</pre></p>

        </form>

    </div>
    <!-- end container -->

    <script id="__bs_script__">
        //<![CDATA[
        document.write("<script async src='http://HOST:3002/browser-sync/browser-sync-client.js?v=2.18.5'><\/script>".replace("HOST", location.hostname));
        //]]>
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.js' type='text/javascript'></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' type='text/javascript'></script>
    <script src='js/main.js' type='text/javascript'></script>

</body>

</html>
